.main-container {
  border-top: 5px solid #01ADEE;
  align-items: center;
  min-height: 100vh;
  background-color: #F4F4F4;
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countries-title {
  text-align: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.countries-container {
  max-width: 1200px;
  width: 100%;
}

.country {
  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.65);
  margin: 20px;
  background-color: white;
}

.country-image {
  height: 180px;
  max-width: 100%;
  width: 210px;
  object-fit: cover;
}

.country-name {
  font-weight: bold;
  font-size: 15px;
}

.country-info-wrapper {
}

.country-info-region {
  font-weight: 300;
}

.country-info-population {
  font-weight: 300;
  position: relative;
}

.country-info-population::before {
  position: absolute;
  background: url(/static/media/user_icon.ce272632.svg);
  height: 20px;
  content: '';
  width: 20px;
  background-size: 20px;
  left: -30px;
}
