$black: #1A1A1A;
$white: #FFF;
$wolox-blue: #00AFFB;
$red: #FF566E;

$text-size: 18px;
$line-height: 25px;
$max-content-size: 1160px;

.search-container {
  background: $white;
  display: flex;
  max-width: $max-content-size;
  padding: 20px;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input {
  border: 1px solid $black;
  border-radius: 3px;
  font-size: $text-size;
  height: 40px;
  line-height: $line-height;
  margin-right: 20px;
  padding-left: 10px;

  &::placeholder {
    font-style: italic;
  }

  &.error {
    border-color: $red;
  }
}

.error-message {
  color: $red;
  margin-top: 5px;
}

.search-button {
  border: 1px solid $wolox-blue;
  border-radius: 3px;
  color: $wolox-blue;
  font-weight: bold;
  font-style: italic;
  height: 40px;
  width: 100px;
}
